/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  height: 100%; }

body {
  background-color: #BB9BDA;
  font-family: 'Gentleman Book', sans-serif;
  height: 100%;
  overflow: hidden; }

.questions {
  height: 100%;
  transform: translate(0, calc(50vh - 185px));
  transition: 1s; }

.submissions {
  display: none; }

.question {
  height: 370px; }

.question--submit {
  height: 530px; }

.card {
  opacity: 0;
  transition: 1s ease-in-out; }
  .card.visible {
    opacity: 1; }

.background-video {
  height: auto;
  left: 50%;
  min-height: 100%;
  min-width: 100%;
  position: fixed;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: -1; }

.questions {
  box-sizing: border-box;
  counter-reset: questions;
  margin: 0 auto;
  max-width: 500px;
  padding-left: 46px; }

.question {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 20px 0; }

.question__label {
  background-color: white;
  border-top-right-radius: 8px;
  box-sizing: border-box;
  display: block;
  font-family: 'Gentleman Book', sans-serif;
  font-size: 26px;
  line-height: 0;
  padding: 26px 28px 23px;
  position: relative;
  width: 100%; }
  .question__label:before {
    background: #654393;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
    box-sizing: border-box;
    color: white;
    counter-increment: questions;
    content: counter(questions);
    display: block;
    font-family: 'Gentleman Bold', sans-serif;
    font-size: 24px;
    font-weight: 600;
    left: -50px;
    line-height: 0;
    padding: 25px 0 23px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 50px; }

.question__input {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border: 0;
  box-sizing: border-box;
  color: #666666;
  display: block;
  font-family: 'Gentleman Light', sans-serif;
  font-size: 18px;
  height: 220px;
  line-height: 1.2;
  margin: 0;
  outline: 0;
  padding: 10px 28px;
  resize: none;
  width: 100%; }
  .question__input:disabled {
    background-color: white;
    color: inherit; }

.question__submit {
  align-self: flex-end;
  background: #654393;
  border-radius: 8px;
  border: 0;
  color: white;
  cursor: pointer;
  display: block;
  font-family: 'Gentleman Bold', sans-serif;
  font-size: 17px;
  line-height: 0;
  margin-top: 16px;
  outline: 0;
  padding: 25px 0 22px;
  text-transform: uppercase;
  width: 45%; }
  .question__submit:not(:disabled):focus, .question__submit:not(:disabled):hover {
    background: #714ba5; }
  .question__submit:disabled {
    cursor: default; }

.question--blue .question__label {
  color: #1fbbc9; }

.question--orange .question__label {
  color: #faaa4c; }

.question--purple .question__label {
  color: #654393; }

.feels {
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  padding: 0 10px;
  box-sizing: border-box; }

.feels__input {
  display: none; }

.feels__label {
  background-size: 46px;
  background-repeat: no-repeat;
  background-position: center 6px;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 20%;
  border: 12px solid white;
  box-sizing: border-box;
  text-align: center;
  cursor: pointer;
  font-size: 12px;
  padding-top: 60px;
  border-radius: 18px;
  padding-bottom: 4px;
  font-family: 'Gentleman Book', sans-serif; }

.feels__input[value="bored"] + .feels__label {
  background-image: url("images/bored.png");
  color: #EFAFD5; }

.feels__input[value="bored"]:checked + .feels__label {
  background-image: url("images/bored_w.png");
  background-color: #EFAFD5;
  color: white; }

.feels__input[value="surprised"] + .feels__label {
  background-image: url("images/surprised.png");
  color: #7FCCDF; }

.feels__input[value="surprised"]:checked + .feels__label {
  background-image: url("images/surprised_w.png");
  background-color: #7FCCDF;
  color: white; }

.feels__input[value="joyful"] + .feels__label {
  background-image: url("images/joyful.png");
  color: #FCBE4F; }

.feels__input[value="joyful"]:checked + .feels__label {
  background-image: url("images/joyful_w.png");
  background-color: #FCBE4F;
  color: white; }

.feels__input[value="fearful"] + .feels__label {
  background-image: url("images/fearful.png");
  color: #51C57F; }

.feels__input[value="fearful"]:checked + .feels__label {
  background-image: url("images/fearful_w.png");
  background-color: #51C57F;
  color: white; }

.feels__input[value="angry"] + .feels__label {
  background-image: url("images/angry.png");
  color: #FA4649; }

.feels__input[value="angry"]:checked + .feels__label {
  background-image: url("images/angry_w.png");
  background-color: #FA4649;
  color: white; }

.feels__input[value="serene"] + .feels__label {
  background-image: url("images/serene.png");
  color: #FEE37D; }

.feels__input[value="serene"]:checked + .feels__label {
  background-image: url("images/serene_w.png");
  background-color: #FEE37D;
  color: white; }

.feels__input[value="annoyed"] + .feels__label {
  background-image: url("images/annoyed.png");
  color: #FA6A45; }

.feels__input[value="annoyed"]:checked + .feels__label {
  background-image: url("images/annoyed_w.png");
  background-color: #FA6A45;
  color: white; }

.feels__input[value="sad"] + .feels__label {
  background-image: url("images/sad.png");
  color: #3095CF; }

.feels__input[value="sad"]:checked + .feels__label {
  background-image: url("images/sad_w.png");
  background-color: #3095CF;
  color: white; }

.feels__input[value="pensive"] + .feels__label {
  background-image: url("images/pensive.png");
  color: #C192E3; }

.feels__input[value="pensive"]:checked + .feels__label {
  background-image: url("images/pensive_w.png");
  background-color: #C192E3;
  color: white; }

.feels__input[value="accepting"] + .feels__label {
  background-image: url("images/accepting.png");
  color: #8EC662; }

.feels__input[value="accepting"]:checked + .feels__label {
  background-image: url("images/accepting_w.png");
  background-color: #8EC662;
  color: white; }

.submit {
  background-color: white;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  padding-top: 10px; }

.submit__label {
  background-color: #6DD468;
  box-sizing: border-box;
  color: white;
  display: block;
  display: block;
  font-family: 'Gentleman Book', sans-serif;
  font-size: 26px;
  line-height: 0;
  padding: 26px 28px 23px;
  position: relative;
  width: 100%; }

.submit__container {
  padding: 28px; }

.submit__input {
  background-color: #F7F7F7;
  border-radius: 8px;
  border: 0;
  box-sizing: border-box;
  color: #666666;
  display: block;
  font-family: 'Gentleman Book', sans-serif;
  font-size: 18px;
  margin-bottom: 28px;
  outline: 0;
  padding: 16px 16px 14px;
  resize: none;
  width: 100%; }
  .submit__input:disabled {
    background-color: white;
    color: inherit; }

.submit__button {
  background: #6DD468;
  border-radius: 8px;
  border: 0;
  color: white;
  cursor: pointer;
  display: block;
  font-family: 'Gentleman Bold', sans-serif;
  font-size: 17px;
  line-height: 0;
  margin: 0 auto;
  outline: 0;
  padding: 25px 0 22px;
  text-transform: uppercase;
  width: 45%; }
  .submit__button:not(:disabled):focus, .submit__button:not(:disabled):hover {
    background: #714ba5; }
  .submit__button:disabled {
    cursor: default; }

.submissions {
  height: 100%;
  overflow: auto;
  box-sizing: border-box; }

.submissions__container {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  padding: 40px 0;
  box-sizing: border-box;
  max-width: 500px; }

.submission {
  margin: 16px 0;
  position: relative; }

@keyframes latestSubmission {
  from {
    transform: translateY(-100vh); }
  to {
    transform: translateY(0); } }

.submissions__latest .submission .submission__name {
  transform: translateY(-100vh);
  animation: latestSubmission 1.25s cubic-bezier(0.5, 0.5, 0, 1) 1.1s forwards; }

.submissions__latest .submission .submission__ideal-day {
  transform: translateY(-100vh);
  animation: latestSubmission 1.25s cubic-bezier(0.5, 0.5, 0, 1) 1.05s forwards; }

.submissions__latest .submission .submission__today {
  transform: translateY(-100vh);
  animation: latestSubmission 1.25s cubic-bezier(0.5, 0.5, 0, 1) 1s forwards; }

.submissions__latest .submission .submission__name {
  padding-left: 22px; }
  .submissions__latest .submission .submission__name:before {
    background-color: #FDF336;
    border-radius: 5px;
    bottom: 6px;
    content: "";
    display: block;
    left: 6px;
    position: absolute;
    top: 6px;
    width: 4px; }

.submission__name {
  background-color: #654393;
  border-radius: 8px;
  color: white;
  font-family: 'Gentleman Bold', sans-serif;
  font-size: 24px;
  margin-bottom: 16px;
  padding: 12px 48px 10px 18px;
  position: relative; }
  .submission__name:after {
    position: absolute;
    bottom: -7px;
    left: 20px;
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 7px 6px 0 6px;
    border-color: #654393 transparent transparent transparent; }

.submission__emoticon {
  height: 28px;
  position: absolute;
  right: 10px;
  top: 9px; }

.submission__ideal-day, .submission__today {
  background-color: white;
  border-radius: 8px;
  color: #666666;
  font-family: 'Gentleman Light', sans-serif;
  font-size: 18px;
  line-height: 1.2;
  padding: 14px 20px 12px; }
  .submission__ideal-day:before, .submission__today:before {
    font-family: 'Gentleman Book', sans-serif; }

.submission__ideal-day {
  margin-bottom: 10px; }
  .submission__ideal-day:before {
    content: "My ideal day is ";
    color: #1fbbc9; }

.submission__today:before {
  content: "My day today is ";
  color: #faaa4c; }
