.email-capture {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 342px;
  justify-content: flex-end;
  opacity: 1;
  position: relative;
  transition: 1s ease-in-out;
  z-index: 2;

  @media (max-width: 400px) {
    height: 400px;
  }
}

.email-capture--hidden {
  height: 0;
  opacity: 0;
  transform: translate(0, 9999999999999vh);
}

.email-capture__label {
  background-color: $gray;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  box-sizing: border-box;
  color: white;
  display: block;
  display: block;
  font-family: 'Gentleman Light', sans-serif;
  font-size: 22px;
  line-height: 1.1;
  padding: 18px 18px 16px;
  position: relative;
  width: 100%;

  b {
    font-family: 'Gentleman Book', sans-serif;
  }

  strong {
    font-family: 'Gentleman Bold', sans-serif;
  }
}

.email-capture__close {
  -webkit-user-select: none;
  background-color: white;
  border-radius: 50%;
  border: 2px solid $gray;
  color: $gray;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  line-height: 0;
  padding: 11px 4.5px 9px 5px;
  position: absolute;
  right: -7px;
  top: -7px;
  z-index: 2;
}

.email-capture__container {
  background-color: white;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  color: $gray;
  font-family: 'Gentleman Book', sans-serif;
  font-size: 22px;
  padding: 18px;
}

.email-capture__input {
  background-color: #F7F7F7;
  border-radius: 8px;
  border: 0;
  box-sizing: border-box;
  color: $gray;
  display: block;
  font-family: 'Gentleman Book', sans-serif;
  font-size: 18px;
  margin: 12px 0 18px;
  outline: 0;
  padding: 16px 16px 14px;
  width: 100%;

  &:disabled {
    background-color: #F7F7F7;
    color: inherit;
  }

  &:-webkit-autofill {
    -webkit-text-fill-color: $gray;
    -webkit-box-shadow: 0 0 0px 1000px #F7F7F7 inset;
  }
}

.email-capture__button {
  background: $green;
  border-radius: 8px;
  border: 0;
  color: white;
  cursor: pointer;
  display: block;
  font-family: 'Gentleman Bold', sans-serif;
  font-size: 17px;
  line-height: 0;
  margin: 0 auto;
  outline: 0;
  padding: 25px 0 22px;
  text-transform: uppercase;
  width: 45%;

  &:not(:disabled):focus,
  &:not(:disabled):hover {
    background: lighten($purple, 5%);
  }

  &:disabled {
    cursor: default;
  }
}
