.feels {
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  padding: 0 10px;
  box-sizing: border-box;
}

.feels__input {
  display: none;
}

.feels__label {
  background-size: 46px;
  background-repeat: no-repeat;
  background-position: center 6px;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 20%;
  border: 12px solid white;
  box-sizing: border-box;
  text-align: center;
  cursor: pointer;
  font-size: 12px;
  padding-top: 60px;
  border-radius: 18px;
  padding-bottom: 4px;
  font-family: 'Gentleman Book', sans-serif;
}

.feels__input[value="bored"] {
  $primary-color: #EFAFD5;

  & + .feels__label {
    background-image: url('images/feel/bored.png');
    color: $primary-color;
  }

  &:checked + .feels__label {
    background-image: url('images/feel/bored_w.png');
    background-color: $primary-color;
    color: white;
  }
}

.feels__input[value="surprised"] {
  $primary-color: #7FCCDF;

  & + .feels__label {
    background-image: url('images/feel/surprised.png');
    color: $primary-color;
  }

  &:checked + .feels__label {
    background-image: url('images/feel/surprised_w.png');
    background-color: $primary-color;
    color: white;
  }
}

.feels__input[value="joyful"] {
  $primary-color: #FCBE4F;

  & + .feels__label {
    background-image: url('images/feel/joyful.png');
    color: $primary-color;
  }

  &:checked + .feels__label {
    background-image: url('images/feel/joyful_w.png');
    background-color: $primary-color;
    color: white;
  }
}

.feels__input[value="fearful"] {
  $primary-color: #51C57F;

  & + .feels__label {
    background-image: url('images/feel/fearful.png');
    color: $primary-color;
  }

  &:checked + .feels__label {
    background-image: url('images/feel/fearful_w.png');
    background-color: $primary-color;
    color: white;
  }
}

.feels__input[value="angry"] {
  $primary-color: #FA4649;

  & + .feels__label {
    background-image: url('images/feel/angry.png');
    color: $primary-color;
  }

  &:checked + .feels__label {
    background-image: url('images/feel/angry_w.png');
    background-color: $primary-color;
    color: white;
  }
}

.feels__input[value="serene"] {
  $primary-color: #FEE37D;

  & + .feels__label {
    background-image: url('images/feel/serene.png');
    color: $primary-color;
  }

  &:checked + .feels__label {
    background-image: url('images/feel/serene_w.png');
    background-color: $primary-color;
    color: white;
  }
}

.feels__input[value="annoyed"] {
  $primary-color: #FA6A45;

  & + .feels__label {
    background-image: url('images/feel/annoyed.png');
    color: $primary-color;
  }

  &:checked + .feels__label {
    background-image: url('images/feel/annoyed_w.png');
    background-color: $primary-color;
    color: white;
  }
}

.feels__input[value="sad"] {
  $primary-color: #3095CF;

  & + .feels__label {
    background-image: url('images/feel/sad.png');
    color: $primary-color;
  }

  &:checked + .feels__label {
    background-image: url('images/feel/sad_w.png');
    background-color: $primary-color;
    color: white;
  }

}
.feels__input[value="pensive"] {
  $primary-color: #C192E3;

  & + .feels__label {
    background-image: url('images/feel/pensive.png');
    color: $primary-color;
  }

  &:checked + .feels__label {
    background-image: url('images/feel/pensive_w.png');
    background-color: $primary-color;
    color: white;
  }
}

.feels__input[value="accepting"] {
  $primary-color: #8EC662;

  & + .feels__label {
    background-image: url('images/feel/accepting.png');
    color: $primary-color;
  }

  &:checked + .feels__label {
    background-image: url('images/feel/accepting_w.png');
    background-color: $primary-color;
    color: white;
  }
}
