.questions {
  box-sizing: border-box;
  counter-reset: questions;
  margin: 0 auto;
  max-width: 500px;
  padding-left: 46px;
  position: relative;
}

.questions--hidden {
  opacity: 0;
  height: 0;
  transform: translate(0, -200vh);
}
