.questions {
  counter-reset: questions;
  height: 100%;
  margin: 0 auto;
  max-width: 500px;
  padding-left: 46px;

  transition: 1s ease-in-out;

  @media (min-height: 500px) {
    transform: translate(0, calc(50vh - 260px));
  }
}

.questions--hidden {
  opacity: 0;
  height: 0;
  transform: translate(0, -200vh);
}
