.submit {
  background-color: white;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  padding-top: 10px;
}

.submit__label {
  background-color: $green;
  box-sizing: border-box;
  color: white;
  display: block;
  display: block;
  font-family: 'Gentleman Book', sans-serif;
  font-size: 26px;
  line-height: 0;
  padding: 26px 28px 23px;
  position: relative;
  width: 100%;
}

.submit__container {
  padding: 28px;
}

.submit__input {
  background-color: #F7F7F7;
  border-radius: 8px;
  border: 0;
  box-sizing: border-box;
  color: $gray;
  display: block;
  font-family: 'Gentleman Book', sans-serif;
  font-size: 18px;
  margin-bottom: 28px;
  outline: 0;
  padding: 16px 16px 14px;
  resize: none;
  width: 100%;

  &:disabled {
    background-color: #F7F7F7;
    color: inherit;
  }
}

.submit__button {
  background: $green;
  border-radius: 8px;
  border: 0;
  color: white;
  cursor: pointer;
  display: block;
  font-family: 'Gentleman Bold', sans-serif;
  font-size: 17px;
  line-height: 0;
  margin: 0 auto;
  outline: 0;
  padding: 25px 0 22px;
  text-transform: uppercase;
  width: 45%;

  &:not(:disabled):focus,
  &:not(:disabled):hover {
    background: lighten($purple, 5%);
  }

  &:disabled {
    cursor: default;
  }
}
