.submissions {
  height: 100%;
  // overflow: auto;
  box-sizing: border-box;
}

.submissions__container {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  padding: 40px 0;
  box-sizing: border-box;
  max-width: 500px;

  @media (max-width: 600px) {
    padding: 0;
  }
}

.submissions__latest {
  z-index: 3;
}

.submissions {
  .submissions__latest {
    opacity: 0;
    transition: opacity 1s cubic-bezier(.5, .5, 0, 1);
  }

  .submissions__other {
    opacity: 0;
    transition: opacity 1.5s cubic-bezier(.5, .5, 0, 1);
    transition-delay: .5s;
  }
}

.submissions--loaded {
  .submissions__latest,
  .submissions__other {
    opacity: 1;
  }
}
