@keyframes blink {
  0%   { opacity: 1; }
  50%  { opacity: 0; }
  100% { opacity: 1; }
}

.typed-cursor {
  animation: blink 0.7s infinite;
  display: inline;
  font-family: 'Gentleman Book', sans-serif;
  opacity: 1;
}
