@import 'reset';

$blue: #1fbbc9;
$gray: #666666;
$green: #6DD468;
$orange: #faaa4c;
$purple: #654393;

html {
  height: 100%;
}

body {
  background-color: #BB9BDA;
  font-family: 'Gentleman Book', sans-serif;
  height: 100%;
  overflow: hidden;
}

$questionHeight: 370px;

.questions {
  height: 100%;
  transform: translate(0, calc(50vh - #{$questionHeight / 2}));
  transition: 1s ease-in-out;
}

.submissions {
  display: none;
}

.question {
  height: $questionHeight;
}

.question--submit {
  height: 530px;
}

.card {
  opacity: 0;
  transition: 1s ease-in-out;

  &.visible {
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    transform: translateY(-100vh);
  }
  to {
    transform: translateY(0);
  }
}

.intro__title {
  transform: translateY(-100vh);
  animation: slideIn 1.25s cubic-bezier(.5, .5, 0, 1) .3s forwards;
}

.intro__subtitle {
  transform: translateY(-100vh);
  animation: slideIn 1.25s cubic-bezier(.5, .5, 0, 1) .2s forwards;
}

.intro--card {
  transform: translateY(-100vh);
  animation: slideIn 1.25s cubic-bezier(.5, .5, 0, 1) .1s forwards;
}

@import 'background_video';
@import 'intro';
@import 'questions';
@import 'question';
@import 'feels';
@import 'submit';
@import 'submissions';
@import 'submission';
@import 'connection';
