@import 'reset';

$blue: #1fbbc9;
$gray: #666666;
$green: #6DD468;
$orange: #faaa4c;
$purple: #654393;

* {
  box-sizing: border-box;
}

html {
  height: 100%;
  font-size: 100%;

  @media (max-width: 480px) {
    font-size: 75%;
  }
}

body {
  background-color: #BB9BDA;
  font-family: 'Gentleman Book', sans-serif;
  height: 100%;

  @media (min-width: 500px) {
    &#questions {
      overflow: hidden;
    }
  }
}

.main {
  padding: 1rem;
  padding-top: 2rem;
}


@import 'card';
@import 'background_video';
@import 'intro';
@import 'typed_cursor';
@import 'questions';
@import 'question';
@import 'lifegap';
@import 'feels';
@import 'submit';
@import 'submissions';
@import 'submission';
@import 'email_capture';
@import 'beta_banner';
